<footer class="footer">
    <div class="footer__container container grid">
        <ul class="footer__links">
            <li>
                <a href="#home" class="footer__link">{{"Home" | translate}} </a>
            </li>
            <li>
                <a href="#about" class="footer__link">{{"AboutMe" | translate}} </a>
            </li>
            <li>
                <a href="#projects" class="footer__link">{{"Projects" | translate}} </a>
            </li>
        </ul>

        <span class="footer__copy">
            Portfolio Web 2024
        </span>
    </div>
</footer>
